/* styles.css */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  text-align: center;
  padding: 5px;
  width: 250px; /* Set the desired width for the popup */
  height: 250px;
  background-color: #141219; /* Light background color */
}

h1 {
  color: #89c2da;
}

p {
  font-size: 18px;
}

/* Toggle button styles */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Apply flexbox to popup-container */
.popup-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Flexbox for rows */
.row {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Adjust the space between rows */
  margin-top: 15px;
}

/* Individual styles for elements within rows */
.counter-text {
  font-size: 16px; /* Adjust text size */
  margin-right: 10px; /* Add spacing between text and elements */
}

.toggle-button {
  /* Define styles for the toggle button */
  /* Adjust width, height, padding, etc. as needed */
}

.downloads-count {
  /* Define styles for the download count */
  /* Adjust width, height, padding, etc. as needed */
}
#downloadCount {
  color: aquamarine;
}
